<!doctype html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <meta content="" name="description">
    <meta content="" name="author">

    <title>Bipuz - LTD</title>

    <!-- CSS FILES -->
    <link href="https://fonts.googleapis.com" rel="preconnect">

    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/main.css">

    <link href="/css/tooplate-crispy-kitchen.css" rel="stylesheet">

    <!--

    Bipuz
    https://www.bipuz.com

    -->
</head>

<body>

<nav class="navbar navbar-expand-lg bg-white shadow-lg">
    <div class="container">
        <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">
            BipuZ Ltd
        </a>
        <div class="d-lg-none">
            <button class="custom-btn btn btn-danger" data-bs-target="#BookingModal" data-bs-toggle="modal"
                    type="button">Request For Demo
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <button class="nav-link active" type="button" value="Home">Home</button>
                    <!--                            <a class="nav-link active" href="index.html">Home</a>-->
                </li>

                <li class="nav-item">
                    <button class="nav-link" type="button" value="About">About</button>
                    <!--                            <a class="nav-link" href="about.html">About</a>-->
                </li>

                <li class="nav-item">
                    <button class="nav-link" type="button" value="Services">Services</button>
                </li>

                <li class="nav-item">
                    <button class="nav-link" type="button" value="Updates">Our Updates</button>
                </li>

                <li class="nav-item">
                    <button class="nav-link" type="button" value="Contact">Contact</button>
                </li>
            </ul>
        </div>

        <div class="d-none d-lg-block">
            <button class="custom-btn btn btn-danger" data-bs-target="#BookingModal" data-bs-toggle="modal"
                    type="button">Reservation
            </button>
        </div>

    </div>
</nav>

<main>

    <section class="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-12">
                    <div class="carousel carousel-fade hero-carousel slide" data-bs-ride="carousel"
                         id="carouselExampleCaptions">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="carousel-image-wrap">
                                    <img alt=""
                                         class="img-fluid carousel-image"
                                         src="/images/slide/jay-wennington-N_Y88TWmGwA-unsplash.jpg">
                                </div>

                                <div class="carousel-caption">
                                            <span class="text-white">
                                                <i class="bi-geo-alt me-2"></i>
                                                Manhattan, New York
                                            </span>

                                    <h4 class="hero-text">Fine Dining Restaurant</h4>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="carousel-image-wrap">
<!--                                    <img alt="" class="img-fluid carousel-image" src="/images/slide/test.jpg">-->
                                </div>

                                <div class="carousel-caption">
                                    <div class="d-flex align-items-center">
                                        <h4 class="hero-text">Steak</h4>

                                        <span class="price-tag ms-4"><small>$</small>26.50</span>
                                    </div>

                                    <div class="d-flex flex-wrap align-items-center">
                                        <h5 class="reviews-text mb-0 me-3">3.8/5</h5>

                                        <div class="reviews-stars">
                                            <i class="bi-star-fill reviews-icon"></i>
                                            <i class="bi-star-fill reviews-icon"></i>
                                            <i class="bi-star-fill reviews-icon"></i>
                                            <i class="bi-star reviews-icon"></i>
                                            <i class="bi-star reviews-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="carousel-image-wrap">
                                    <img alt=""
                                         class="img-fluid carousel-image"
                                         src="/images/slide/ivan-torres-MQUqbmszGGM-unsplash.jpg">
                                </div>

                                <div class="carousel-caption">
                                    <div class="d-flex align-items-center">
                                        <h4 class="hero-text">Sausage Pasta</h4>

                                        <span class="price-tag ms-4"><small>$</small>18.25</span>
                                    </div>

                                    <div class="d-flex flex-wrap align-items-center">
                                        <h5 class="reviews-text mb-0 me-3">4.2/5</h5>

                                        <div class="reviews-stars">
                                            <i class="bi-star-fill reviews-icon"></i>
                                            <i class="bi-star-fill reviews-icon"></i>
                                            <i class="bi-star-fill reviews-icon"></i>
                                            <i class="bi-star-fill reviews-icon"></i>
                                            <i class="bi-star reviews-icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button class="carousel-control-prev" data-bs-slide="prev"
                                data-bs-target="#carouselExampleCaptions"
                                type="button">
                            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" data-bs-slide="next"
                                data-bs-target="#carouselExampleCaptions"
                                type="button">
                            <span aria-hidden="true" class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="col-lg-5 col-12 m-auto">
                    <div class="heroText">

                        <h1 class="text-white mb-lg-5 mb-3">We Offer</h1>

                        <div class="c-reviews my-3 d-flex flex-wrap align-items-center">
                            <div class="d-flex flex-wrap align-items-center">
                                <h4 class="text-white mb-0 me-3">4.4/5</h4>

                                <div class="reviews-stars">
                                    <i class="bi-star-fill reviews-icon"></i>
                                    <i class="bi-star-fill reviews-icon"></i>
                                    <i class="bi-star-fill reviews-icon"></i>
                                    <i class="bi-star-fill reviews-icon"></i>
                                    <i class="bi-star reviews-icon"></i>
                                </div>
                            </div>

                            <p class="text-white w-100">From <strong>1,206+</strong> Client Feedback</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="video-wrap">
            <video autoplay="" class="custom-video" loop="" muted="" poster="">
                <source src="/video/production_ID_3769033.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="overlay"></div>
    </section>


    <div class="Services">
        <section class="menu section-padding">
            <div class="container">
                <div class="row">

                    <div class="col-12">
                        <h2 class="text-center mb-lg-5 mb-4">Special Services</h2>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="menu-thumb">
                            <div class="menu-image-wrap">
                                <img alt=""
                                     class="img-fluid menu-image"
                                     src="/images/breakfast/brett-jordan-8xt8-HIFqc8-unsplash.jpg">

                                <span class="menu-tag bg-warning">ChatBolt</span>
                            </div>

                            <div class="menu-info d-flex flex-wrap align-items-center">
                                <h4 class="mb-0">Interactive Webapps</h4>

                                <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>12.50</span>

                                <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                    <h6 class="reviews-text mb-0 me-3">4.3/5</h6>

                                    <div class="reviews-stars">
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star reviews-icon"></i>
                                    </div>

                                    <p class="reviews-text mb-0 ms-4">102 Reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="menu-thumb">
                            <div class="menu-image-wrap">
                                <img alt=""
                                     class="img-fluid menu-image"
                                     src="/images/lunch/farhad-ibrahimzade-MGKqxm6u2bc-unsplash.jpg">

                                <span class="menu-tag bg-warning">Interactive Webapps</span>
                            </div>

                            <div class="menu-info d-flex flex-wrap align-items-center">
                                <h4 class="mb-0">Tooplate Soup</h4>

                                <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>24.50</span>

                                <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                    <h6 class="reviews-text mb-0 me-3">3/5</h6>

                                    <div class="reviews-stars">
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star reviews-icon"></i>
                                        <i class="bi-star reviews-icon"></i>
                                    </div>

                                    <p class="reviews-text mb-0 ms-4">50 Reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="menu-thumb">
                            <div class="menu-image-wrap">
                                <img alt="" class="img-fluid menu-image"
                                     src="/images/dinner/keriliwi-c3mFafsFz2w-unsplash.jpg">

                                <span class="menu-tag bg-warning">Support</span>
                            </div>

                            <div class="menu-info d-flex flex-wrap align-items-center">
                                <h4 class="mb-0">Premium Steak</h4>

                                <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>45</span>

                                <del class="ms-4"><small>$</small>150</del>

                                <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                    <h6 class="reviews-text mb-0 me-3">3/5</h6>

                                    <div class="reviews-stars">
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star reviews-icon"></i>
                                        <i class="bi-star reviews-icon"></i>
                                    </div>

                                    <p class="reviews-text mb-0 ms-4">86 Reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="menu-thumb">
                            <div class="menu-image-wrap">
                                <img alt=""
                                     class="img-fluid menu-image"
                                     src="/images/dinner/farhad-ibrahimzade-ZipYER3NLhY-unsplash.jpg">

                                <span class="menu-tag bg-warning">eBusiness</span>
                            </div>

                            <div class="menu-info d-flex flex-wrap align-items-center">
                                <h4 class="mb-0">Seafood Set</h4>

                                <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>86</span>

                                <del class="ms-4"><small>$</small>124</del>

                                <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                    <h6 class="reviews-text mb-0 me-3">3/5</h6>

                                    <div class="reviews-stars">
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star reviews-icon"></i>
                                        <i class="bi-star reviews-icon"></i>
                                    </div>

                                    <p class="reviews-text mb-0 ms-4">44 Reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="menu-thumb">
                            <div class="menu-image-wrap">
                                <img alt=""
                                     class="img-fluid menu-image"
                                     src="/images/breakfast/louis-hansel-dphM2U1xq0U-unsplash.jpg">

                                <span class="menu-tag bg-warning">Payroll</span>
                            </div>

                            <div class="menu-info d-flex flex-wrap align-items-center">
                                <h4 class="mb-0">Burger Set</h4>

                                <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>20.50</span>

                                <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                    <h6 class="reviews-text mb-0 me-3">4.3/5</h6>

                                    <div class="reviews-stars">
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star reviews-icon"></i>
                                    </div>

                                    <p class="reviews-text mb-0 ms-4">102 Reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="menu-thumb">
                            <div class="menu-image-wrap">
                                <img alt=""
                                     class="img-fluid menu-image"
                                     src="/images/lunch/farhad-ibrahimzade-D5c9ZciQy_I-unsplash.jpg">

                                <span class="menu-tag bg-warning">On Your Demand</span>
                            </div>

                            <div class="menu-info d-flex flex-wrap align-items-center">
                                <h4 class="mb-0">Healthy Soup</h4>

                                <span class="price-tag bg-white shadow-lg ms-4"><small>$</small>34.20</span>

                                <div class="d-flex flex-wrap align-items-center w-100 mt-2">
                                    <h6 class="reviews-text mb-0 me-3">3/5</h6>

                                    <div class="reviews-stars">
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star-fill reviews-icon"></i>
                                        <i class="bi-star reviews-icon"></i>
                                        <i class="bi-star reviews-icon"></i>
                                    </div>

                                    <p class="reviews-text mb-0 ms-4">64 Reviews</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <section class="BgImage"></section>

    <section class="About"></section>


    <div class="Updates">
        <section class="news section-padding">
            <div class="container">
                <div class="row">

                    <h2 class="text-center mb-lg-5 mb-4">News &amp; Events</h2>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="news-thumb mb-4">
                            <a href="news-detail.html">
                                <img alt=""
                                     class="img-fluid news-image"
                                     src="/images/news/pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg">
                            </a>

                            <div class="news-text-info news-text-info-large">
                                <span class="category-tag bg-danger">Featured</span>

                                <h5 class="news-title mt-2">
                                    <a class="news-title-link" href="news-detail.html">Healthy Lifestyle and happy
                                        living
                                        tips</a>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="news-thumb mb-4">
                            <a href="news-detail.html">
                                <img alt="" class="img-fluid news-image"
                                     src="/images/news/stefan-johnson-xIFbDeGcy44-unsplash.jpg">
                            </a>

                            <div class="news-text-info news-text-info-large">
                                <span class="category-tag bg-danger">Featured</span>

                                <h5 class="news-title mt-2">
                                    <a class="news-title-link" href="news-detail.html">How to make a healthy meal</a>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="news-thumb mb-lg-0 mb-lg-4 mb-0">
                            <a href="news-detail.html">
                                <img alt="" class="img-fluid news-image"
                                     src="/images/news/gilles-lambert-S_LhjpfIdm4-unsplash.jpg">
                            </a>

                            <div class="news-text-info">
                                <span class="category-tag me-3 bg-info">Promotions</span>

                                <strong>8 April 2022</strong>

                                <h5 class="news-title mt-2">
                                    <a class="news-title-link" href="news-detail.html">Is Coconut good for you?</a>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="news-thumb mb-lg-0 mb-lg-4 mb-2">
                            <a href="news-detail.html">
                                <img alt=""
                                     class="img-fluid news-image"
                                     src="/images/news/caroline-attwood-bpPTlXWTOvg-unsplash.jpg">
                            </a>

                            <div class="news-text-info">
                                <span class="category-tag">News</span>

                                <h5 class="news-title mt-2">
                                    <a class="news-title-link" href="news-detail.html">Salmon Steak Noodle</a>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="news-thumb mb-4">
                            <a href="news-detail.html">
                                <img alt="" class="img-fluid news-image"
                                     src="/images/news/louis-hansel-GiIiRV0FjwU-unsplash.jpg">
                            </a>

                            <div class="news-text-info">
                                <span class="category-tag me-3 bg-info">Meeting</span>

                                <strong>30 April 2022</strong>

                                <h5 class="news-title mt-2">
                                    <a class="news-title-link" href="news-detail.html">Making a healthy salad</a>
                                </h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

</main>

<div class="Contact">
    <footer class="site-footer section-padding">

        <div class="container">

            <div class="row">

                <div class="col-12">
                    <h4 class="text-white mb-4 me-5">Bipuz</h4>
                </div>

                <div class="col-lg-4 col-md-7 col-xs-12 tooplate-mt30">
                    <h6 class="text-white mb-lg-4 mb-3">Location</h6>

                    <p>Crescent Road, Woolwich, London</p>

                    <a class="custom-btn btn btn-dark mt-2" href="https://goo.gl/maps/wZVGLA7q64uC1s886">Directions</a>
                </div>

                <div class="col-lg-4 col-md-5 col-xs-12 tooplate-mt30">
                    <h6 class="text-white mb-lg-4 mb-3">Opening Hours</h6>

                    <p class="mb-2">Monday - Friday</p>

                    <p>10:00 AM - 08:00 PM</p>

                    <p>Tel: <a class="tel-link" href="tel: 010-02-0340">010-02-0340</a></p>
                </div>

                <div class="col-lg-4 col-md-6 col-xs-12 tooplate-mt30">
                    <h6 class="text-white mb-lg-4 mb-3">Social</h6>

                    <ul class="social-icon">
                        <li><a class="social-icon-link bi-facebook" href="#"></a></li>

                        <li><a class="social-icon-link bi-instagram" href="#"></a></li>

                        <li><a class="social-icon-link bi-twitter"
                               href="https://twitter.com/search?q=tooplate.com&src=typed_query&f=live"
                               target="_blank"></a></li>

                        <li><a class="social-icon-link bi-youtube" href="#"></a></li>
                    </ul>

                    <p class="copyright-text tooplate-mt60">Copyright © 2022 Bipuz Limited., Ltd.
                        <br>Design: <a href="https://www.bipuz.com/" rel="nofollow" target="_blank">Bipuz</a></p>

                </div>

            </div><!-- row ending -->

        </div><!-- container ending -->
    </footer>
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="BookingModal" class="modal fade" id="BookingModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="mb-0">Book for Demo</h3>

                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>

            <div class="modal-body d-flex flex-column justify-content-center">
                <div class="booking">

                    <form action="#" class="booking-form row" method="post" role="form">
                        <div class="col-lg-6 col-12">
                            <label class="form-label" for="name">Full Name</label>

                            <input class="form-control" id="name" name="name" placeholder="Your Name" required
                                   type="text">
                        </div>

                        <div class="col-lg-6 col-12">
                            <label class="form-label" for="email">Email Address</label>

                            <input class="form-control" id="email" name="email" pattern="[^ @]*@[^ @]*"
                                   placeholder="your@email.com"
                                   required type="email">
                        </div>

                        <div class="col-lg-6 col-12">
                            <label class="form-label" for="phone">Phone Number</label>

                            <input class="form-control" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                   placeholder="123-456-7890" type="telephone">
                        </div>

                        <div class="col-lg-6 col-12">
                            <label class="form-label" for="people">Number of persons</label>

                            <input class="form-control" id="people" name="people" placeholder="12 persons" type="text">
                        </div>

                        <div class="col-lg-6 col-12">
                            <label class="form-label" for="date">Date</label>

                            <input class="form-control" id="date" name="date" type="date" value="">
                        </div>

                        <div class="col-lg-6 col-12">
                            <label class="form-label" for="time">Time</label>

                            <select class="form-select form-control" id="time" name="time">
                                <option selected value="5">5:00 PM</option>
                                <option value="6">6:00 PM</option>
                                <option value="7">7:00 PM</option>
                                <option value="8">8:00 PM</option>
                                <option value="9">9:00 PM</option>
                            </select>
                        </div>

                        <div class="col-12">
                            <label class="form-label" for="message">Special Request</label>

                            <textarea class="form-control" id="message" name="message" placeholder=""
                                      rows="4"></textarea>
                        </div>

                        <div class="col-lg-4 col-12 ms-auto">
                            <button class="form-control" type="submit">Submit Request</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-footer"></div>

        </div>
        <div class="first">Hi</div>
    </div>
</div>

<!-- JAVASCRIPT FILES -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/custom.js"></script>
<script>
    $("button").click(function () {
        var tryThis = $(this).val();
        $('html,body').animate({
                scrollTop: $("." + tryThis).offset().top
            },
            'fast');
    });
</script>

</body>
</html>
